* {
  font-family: "Special Elite";
  font-size: 14pt;
  background: white;
}

body {
  margin: 0px;
}

img.qrcode {
  height: 100px;
  width: 100px;
}

div.cover {
  grid-column: 1;
  grid-row: 1 / 3;
}

img.cover {
  height: 480px;
  width: 480px;
}

div.info {
  grid-column: 2;
  grid-row: 1;
  padding: 25px;
}

div.card {
  display: grid;
  grid-gap: 0px; 
  grid-template-columns: 480px 320px;
  grid-template-rows:  120px 180px 180px;
}

div.spotify {
  grid-column: 2;
  grid-row: 2;
  padding: 10px;
}

div.discogs {
  grid-column: 2;
  grid-row: 3;
  padding: 10px;
}
